<form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Tipo de filtro</mat-label>
      <mat-select formControlName="typeFilter">
        <mat-option value="NAME">Nombre</mat-option>
        <mat-option value="CODE_SAE">Código sae</mat-option>
        <mat-option value="CODE_SYSTEM">Código sistema</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="searchClients()"> Buscar Folio</button>
</form>
<div *ngIf="isLoading" style="margin-left: 50%">
    <mat-spinner  diameter="100"></mat-spinner>    
</div>

<table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element;let index=index"> {{}} </td>
    </ng-container>
  
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Código sistema </th>
        <td mat-cell *matCellDef="let element"> {{}} </td>
      </ng-container>
      <ng-container matColumnDef="aspelCode">
        <th mat-header-cell *matHeaderCellDef> Código aspel </th>
        <td mat-cell *matCellDef="let element"> {{}} </td>
      </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="rfc">
      <th mat-header-cell *matHeaderCellDef> Rfc </th>
      <td mat-cell *matCellDef="let element"> {{}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  <mat-paginator *ngIf="!isLoading" 
    [pageSize]="perPage"
    [pageIndex]="page"
    [length]="totalCount"
    (page)="search($event)">
</mat-paginator>  
  